<% if user_signed_in? %>
<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">x</a>
  <i class="fas fa-street-view nav-icon fa-3x ml-4 mb-4">!</i>
  <%= link_to 'Home', root_path, class:"sidebar_link" %> 
  <%=link_to 'Mapa', home_map_path, class:"sidebar_link" %>
  <%= link_to "Mis Tests", tests_path, class:"sidebar_link" %>
  <%= link_to "Preguntas Frecuentes", tests_path, class:"sidebar_link" %>
  <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"sidebar_link" %>
</div>

<div id="main">
  <button class="openbtn" onmouseover="openNav()">☰</button>
</div>
<script>
    function openNav() {
    document.getElementById("mySidebar").style.width = "300px";
    document.getElementById("main").style.marginLeft = "300px";
    }

    function closeNav() {
    document.getElementById("mySidebar").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
    }

</script>
<% end %>